.contact-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 0;

    &-form {
        width: 40%;
        & input, & textarea {
            display: block;
            width: 100%;
            margin-bottom: 12px;
            height: 56px;
            padding: 12px;
            color: var(--Zinc-500, #71717A);
            border-radius: 4px;
            border: 1px solid black;
            &:focus {
                outline: 0;
            }
            
        }
        & textarea {
            height: 140px;
            
        }
    }
    &-text {
        margin-top: 40px;
        & h2 {
            font-size: 48px;
            font-style: normal;
            font-weight: 800;
            line-height: 56px;
            /* 116.667% */
            letter-spacing: -0.96px;

            & span {
                font-size: 48px;
                font-weight: bold;
                color: #fff;
                /* Text color */
                text-shadow:
                    -2px -2px 0 #000,
                    /* Top left */
                    2px -2px 0 #000,
                    /* Top right */
                    -2px 2px 0 #000,
                    /* Bottom left */
                    2px 2px 0 #000;
                /* Bottom right */
            }
        }

        & .p {
            color: var(--Zinc-500, #71717A);
            /* Paragraph P2/Regular */
            font-family: Sora;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.32px;
            margin: 20px 0 30px 0;
        }
        & h3 {
            color: var(--Primary-Black, #000);
            /* Heading H3/Semibold */
            font-family: Sora;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px; /* 114.286% */
            letter-spacing: -0.56px; 
            margin-bottom: 5px;  
        }
        
    }
}
.insight-social {
    display: flex;
    
}

.insight-btn {
    margin-right: 5px;
    display: flex;
color: white;
padding: 16px;
justify-content: center;
align-items: center;
gap: 8px;
background: var(--Primary-Black, #000);
border-radius: 4px;
transition: all ease 500ms;

& .btn {
    color: white;
}
}

@media only screen and (max-width: 500px) {
    .contact-wrapper {
        flex-direction: column;
        width: 90%;
        &-form, &-text {
            width: 100%;
        }
        & h3 {
            font-size: 20px;
        }
    }
   
}